    <!-- Header -->
       <header id="headerwrap" class="backstretched fullheight no-overlay">
            <div class="container vertical-center">
                <div class="intro-text vertical-center text-left smoothie">
                    <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Gallery Art</div>
                    <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Discover the best <span class="rotate">Pieces, Painting, Artists</span></div>
                    <a href="{{ path('ListJob')}}" class="btn btn-primary btn-white mt30 page-scroll" data-wow-delay="0.6s">View Works</a>
                </div>
            </div>
        </header>